/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.6
Last change:  21/09/2016
Design by:  TemplatesPRO.com.br
-------------------------------------------------------------------------------------------------

INDEX:
01) SLIDESHOW
02) FEATURES
03) OVERVIEW
04) STATS
05) GALLERY
06) TESTIMONIALS
07) CLIENTS
08) PRICING
09) MORE
10) CALL TO ACTION - NEWSLETTER
11) BLOG
12) TEAM
13) CONTACT
14) SOCIAL BUTTONS
-----------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------
 01) SLIDESHOW
 ----------------------------------------------------------------------------------------------*/
.slideshow { overflow: hidden; }
.slideshow .carousel { margin: 0 -15px; }

.slideshow .item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slideshow .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .3;
}
.slideshow .carousel-inner>.item.active.left,
.slideshow .carousel-inner>.item.active.right {
  opacity: .5;
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}

.slideshow .carousel-caption {
  position: absolute;
  left: 0;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  width: 70%;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
  -webkit-transition: all 0.45s ease-out;
     -moz-transition: all 0.45s ease-out;
      -ms-transition: all 0.45s ease-out;
       -o-transition: all 0.45s ease-out;
          transition: all 0.45s ease-out;
}

.slideshow .title {
  margin: 0 0 13%;
  font-size: 1.6em;
}
.slideshow .brand {
  margin: 10% 0 0;
  display: block;
  font-size: 2em;
  font-weight: lighter;
}

.slideshow .btn {
  padding: 12px 24px 13px;
  margin: 0 20px;
  width: 70%;
  font-size: 1.1em;
}
.slideshow .btn + .btn { margin: 5% 20px 0; }
.slideshow .btn span { margin-right: 10px; }

/* Slideshow - Background Images ..............................................................*/
.slideshow .img-responsive { width: auto; }
.slideshow .bg-item {
  position: absolute;
  top:0;
  bottom:0;
  left: 50%;
  margin:auto;
  width:auto;
  height:auto;
  min-width:100%;
  min-height:100%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Slideshow - Slide Form .....................................................................*/
.slideshow .slide-form .title {
  margin: 0 0 7%;
  font-size: 1.4em;
}
.slideshow .slide-form .brand {
  margin: 3.5% 0 0;
  font-size: 1.8em;
}

.slideshow .slide-form .btn-form {
  padding: 12px 20px 13px 15px;
  margin: 0;
  width: 100%;
}
.slideshow .slide-form .panel .btn {
  margin: 0;
  width: 100%;
}

.slideshow .countdown .col-xs-3 { padding: 0; }

.slideshow .countdown .count {
  padding: 5px 0;
  margin-bottom: 10px;
  width: 52px;
  border-radius: 10px;
}
.slideshow .countdown strong {
  display: block;
  font-size: 1.2em;
}
.slideshow .countdown span { font-size: .8em; }

.slideshow .panel-subscription .panel-footer { padding: 0 25px 25px; }
.slideshow .panel-subscription h3 { margin: 10px 0; }
.slideshow .panel-subscription .panel-body { padding: 25px; }
.slideshow .panel-subscription .form-group:last-child,
#modal .form-group:last-child { margin-bottom: 0; }

/* Slideshow - Slide Image ....................................................................*/
.slideshow .slide-image .c4 { visibility: hidden; }
.slideshow .slide-image .c5 {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
}

/* Slideshow - Slide Video ....................................................................*/
.slideshow .slide-video .c6 {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
}
.slideshow .slide-video .c7 { padding: 0; }

.slideshow .slide-video .title {
  margin: 0 0 3%;
  font-size: 1.3em;
}
.slideshow .slide-video .brand {
  margin: 6% 0 0;
  font-size: 1.8em;
}

.slideshow .slide-video .btn { margin: 5% auto 0; }
.slideshow .slide-video .btn-video {
  padding: 12px 0 13px;
  font-size: 1em;
}

.slideshow .embed-responsive:before {
  content: "VIDEO";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Slideshow - Navigation .....................................................................*/
.slideshow .carousel-control .fa-angle-left,
.slideshow .carousel-control .fa-angle-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 50px;
  font-size: 2.5em;
}

/* Slideshow - Indicators .....................................................................*/
.slideshow .carousel-indicators li,
.slideshow .carousel-indicators .active {
  margin: 0 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}


/*----------------------------------------------------------------------------------------------
 02) FEATURES
 ----------------------------------------------------------------------------------------------*/
.features { padding: 50px 0 30px; }
.features .section-header { margin: 0 0 100px; }

.features .c2,
.features .c3,
.features .c4 { margin-top: 30px; }

.features .features-wrapper {
  position: relative;
  padding: 110px 10px 0;
  margin: 0 15px;
  text-align: center;
}

.features .features-icon {
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  font-size: 2.6em;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.features .features-icon:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.features .features-wrapper:hover .features-icon:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.features .features-icon span { line-height: 80px; }
  .features .features-icon span[class*="ion-"] {
    font-size: 1.24em;
    line-height: 80px;
  }

.features .features-content .title {
  margin-top: 8px;
  font-size: 2em;
}

.features .features-content .description { margin-bottom: 0; }


/*----------------------------------------------------------------------------------------------
 03) OVERVIEW
 ----------------------------------------------------------------------------------------------*/
.overview { padding: 50px 0 90px; }
.overview .section-header { margin-bottom: 60px; }

.overview .tab-pane { padding: 40px 0 0; }

.overview .overview-wrapper {
  position: relative;
  padding: 0;
}
.overview .overview-wrapper + .overview-wrapper { margin-top: 30px; }
.overview .overview-content { padding-top: 0; }
.overview #overview-tab-2 .overview-content { text-align: center; }

/* Overview - Tab 1 ...........................................................................*/
.overview #overview-tab-1 .c1 { min-height: 290px; }
.overview #overview-tab-1 .c2 .overview-content { padding-top: 0; }

/* Overview - Tab 2 ...........................................................................*/
.overview #overview-tab-2 .c1 { min-height: 372px; }
.overview #overview-tab-2 .c2 { margin: 30px 0; }

/* Overview - Tab 3 ...........................................................................*/
.overview #overview-tab-3 .c1 { min-height: 372px; }
.overview #overview-tab-3 .c2 .overview-content { padding-top: 30px; }

/* Overview - Tab Content .....................................................................*/
.overview .title {
  margin-top: 8px;
  font-size: 1.8em;
}
.overview .subtitle {
  font-size: 70%;
  font-weight: lighter;
}

.overview .overview-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  display: none;
  width: 60px;
  height: 60px;
  font-size: 2.2em;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.overview .overview-icon:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  bottom: auto;
  margin: auto;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.overview .overview-wrapper:hover .overview-icon:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.overview .overview-icon span {
  display: block;
  line-height: 60px;
}
.overview .overview-icon span[class*="ion-"] { font-size: 1.24em; }

/* Overview - Animation Images Tab 1 ..........................................................*/
.overview .img-perspective {
  position: relative;
  margin: 0 auto;
  width: 270px;
}
.overview .img-1,
.overview .img-2,
.overview .img-3 {
  position: absolute;
  left: 10%;
  margin-top: 10%;
  width: 210px;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
.overview .tab-pane.in .img-1 {
  left: 0;
  margin-top: 20%;
}
.overview .tab-pane.in .img-3 {
  left: 20%;
  margin-top: 0;
}

/* Overview - Animation Images Tab 2 ..........................................................*/
.overview .img-wireframe { position: relative; }
.overview .img-4,
.overview .img-5 {
  width: 180px;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
.overview .img-5 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.overview .img-4,
.overview .img-wireframe:hover .img-5 { opacity: 0; }
.overview .img-5,
.overview .img-wireframe:hover .img-4 { opacity: 1; }

/* Overview - Animation Images Tab 3 ..........................................................*/
.overview .img-slide {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
.overview .img-6,
.overview .img-7 {
  position: absolute;
  left: 35%;
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
.overview .img-6 {
  margin-top: 50px;
  width: 130px;
}
.overview .img-7 { width: 180px; }
.overview .tab-pane.in .img-6 { left: 5%; }

/* Overview - Progress Bars ...................................................................*/
.overview #overview-tab-3 label { margin-top: 15px; }
.overview #overview-tab-3 label>small { font-size: 110%; }
.overview .progress {
  margin-bottom: 0;
  height: 18px;
  box-shadow: none;
}
.overview .progress-bar { width: 0; }
.overview .tab-pane.in .progress-bar {
  -webkit-transition: width 0.7s ease;
     -moz-transition: width 0.7s ease;
      -ms-transition: width 0.7s ease;
       -o-transition: width 0.7s ease;
          transition: width 0.7s ease;
}

.overview .tab-pane.in .progress-bar-10 { width: 10%; }
.overview .tab-pane.in .progress-bar-20 { width: 20%; }
.overview .tab-pane.in .progress-bar-30 { width: 30%; }
.overview .tab-pane.in .progress-bar-40 { width: 40%; }
.overview .tab-pane.in .progress-bar-50 { width: 50%; }
.overview .tab-pane.in .progress-bar-60 { width: 60%; }
.overview .tab-pane.in .progress-bar-70 { width: 70%; }
.overview .tab-pane.in .progress-bar-80 { width: 80%; }
.overview .tab-pane.in .progress-bar-90 { width: 90%; }
.overview .tab-pane.in .progress-bar-100 { width: 100%; }


/*----------------------------------------------------------------------------------------------
 04) STATS
 ----------------------------------------------------------------------------------------------*/
.stats {
  position: relative;
  z-index: 0;
  padding: 50px 0 64px;
  background: url(http://d14bqw9lzcvxs9.cloudfront.net/dealership_blurred_dark.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .3;
}
.stats .bg-section {
  position: absolute;
  margin-top: -50px;
  display: none;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.stats .bg-section img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -2;
  max-height: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stats .circle {
  height: 66px;
  text-align: center;
}
.stats .circle.animated { height: auto; }
.stats .circle .circles-text { border-radius: 50%; }

.stats .description {
  margin: 15px 0 40px;
  font-size: 1.1em;
  text-align: center;
}
.stats .description span {
  margin-right: 7px;
  font-size: 1.4em;
}
.stats .c3 .description,
.stats .c4 .description { margin-bottom: 20px; }


/*----------------------------------------------------------------------------------------------
 05) GALLERY
 ----------------------------------------------------------------------------------------------*/
.gallery { padding: 50px 0 70px; }
.gallery .r2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Gallery - Thumbnail ........................................................................*/
.gallery .thumb-overlay {
  position: relative;
  overflow: hidden;
   margin: 0 15px;
}
.gallery .link-modal {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 100%;
}
.gallery .thumb-overlay .thumb {
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.gallery .link-modal:hover .thumb { opacity: .5; }
.gallery .link-modal:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  margin: auto;
  width: 25%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.gallery .link-modal:hover:before {
  width: 200px;
  height: 442px;
  opacity: 1;
}
.gallery .link-modal:after {
  content: "\e003";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  margin: auto;
  width: 30px;
  height: 30px;
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.gallery .link-modal:hover:after { opacity: 1; }

/* Gallery - Modal ............................................................................*/
.gallery .blueimp-gallery>.prev,
.gallery .blueimp-gallery>.next {
  border: none;
  background: none;
}


/*----------------------------------------------------------------------------------------------
 06) TESTIMONIALS
 ----------------------------------------------------------------------------------------------*/
.testimonials { padding: 50px 0 60px; }
.testimonials .section-header { margin-bottom: 245px; }

.testimonials .carousel.fade { opacity: 1; }
.testimonials .carousel.fade .item {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
       -o-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}
.testimonials .carousel.fade .active.item { opacity: 1; }
.testimonials .carousel-inner { overflow: visible; }

.testimonials .testimonials-info {
  margin: 20px 0;
  font-size: 120%;
  text-align: center;
}
.testimonials .testimonials-info .author { display: block; }

.testimonials .carousel.fade .item blockquote p:before {
  content: "\f10d";
  float: left;
  margin-right: 10px;
  font-family: 'Fontawesome';
}
.testimonials .carousel.fade blockquote {
  padding: 25px;
  margin-top: 45px;
  border: none;
  font-size: 1.3em;
}
.testimonials .carousel.fade blockquote:before {
  content: "";
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
}
@-moz-document url-prefix() {
  .testimonials .carousel.fade blockquote:before { top: 71px; }  /* fix Firefox */
}
_:-ms-input-placeholder,
:root .testimonials .carousel.fade blockquote:before { top: 72px; }  /* fix IE10+ */

/* Testimonials - Photo .......................................................................*/
.testimonials .testimonials-photo {
  position: absolute;
  left: 2px;
  top: -170px;
  right: 0;
  bottom: auto;
  margin: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
}
.testimonials .testimonials-photo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo:before {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.testimonials .testimonials-photo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  right: 0;
  margin: auto;
  width: 144px;
  height: 144px;
  border-radius: 50%;
}
.testimonials .testimonials-photo img {
  margin-top: 3px;
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

/* Testimonials - Navigation ..................................................................*/
.testimonials .carousel.fade .testimonials-controls {
  position: absolute;
  left: 0;
  top: -170px;
  right: 0;
  z-index: 1;
  padding: 32.5px 0;
  margin: auto;
  width: 280px;
  font-size: 4em;
}
.testimonials .testimonials-controls .arrow-left {
  padding: 0 20px;
  float: left;
}
.testimonials .testimonials-controls .arrow-right {
  padding: 0 20px;
  float: right;
}
.testimonials .testimonials-controls .arrow-left,
.testimonials .testimonials-controls .arrow-right {
  -webkit-transition: all 0.06s ease-out;
     -moz-transition: all 0.06s ease-out;
      -ms-transition: all 0.06s ease-out;
       -o-transition: all 0.06s ease-out;
          transition: all 0.06s ease-out;
}

.testimonials .carousel.fade .active.left,
.testimonials .carousel.fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.testimonials .carousel.fade .next,
.testimonials .carousel.fade .prev {
  left: 0;
  z-index: 1;
}


/*----------------------------------------------------------------------------------------------
 07) CLIENTS
 ----------------------------------------------------------------------------------------------*/
.clients {
  position: relative;
  z-index: 0;
  padding: 20px 0;
  background: url(../images/bg_1.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.clients:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .3;
}

.clients .client-logo {
  opacity: .8;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.clients .client-logo:hover { opacity: 1; }
.clients img { max-width: 150px; }


/*----------------------------------------------------------------------------------------------
 08) PRICING
 ----------------------------------------------------------------------------------------------*/
.pricing { padding: 50px 0 90px; }
.pricing .section-header { margin-bottom: 50px; }

.pricing .col-md-3,
.pricing .col-md-4 { margin-top: 20px; }

.pricing .panel { margin-bottom: 0; }
.pricing.attached .panel {
  margin-right: 2px;
  margin-bottom: 1px;
}

.pricing .panel-heading .title {
  margin-top: 10px;
  margin-bottom: 68px;
  font-size: 2.15em;
  text-align: center;
}

/* Pricing - Popular Attached .................................................................*/
.pricing.attached .popular { z-index: 1; }

/* Pricing - Badge Popular ....................................................................*/
.pricing .badge-popular {
  position: absolute;
  top: -3px;
  right: 12px;
  z-index: 1;
  width: 64px;
  height: 64px;
}
.pricing.attached .badge-popular { right: 13px; }

/* Pricing - Price ............................................................................*/
.pricing .plan-price {
  position: relative;
  padding-top: 42px;
  margin: -75px auto 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.pricing .plan-price:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.pricing .panel:hover .plan-price:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.pricing .panel-popular .plan-price:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.pricing .panel-popular:hover .plan-price:before {
  opacity: 1;
  -webkit-transform: scale(1.13);
     -moz-transform: scale(1.13);
      -ms-transform: scale(1.13);
       -o-transform: scale(1.13);
          transform: scale(1.13);
}
.pricing .price {
  display: block;
  font-size: 2.2em;
  line-height: .7em;
  font-weight: bold;
  text-align: center;
}
.pricing .plan-price sup { top: -.3em; }
.pricing .per-month {
  display: block;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: normal;
  text-align: center;
  opacity: .7;
}

/* Pricing - Features .........................................................................*/
.pricing .plan-features { text-align: center; }
.pricing .plan-features li {
  padding: 10px;
  font-size: 1.1em;
}
.pricing .plan-features li:last-child { border: none; }


/*----------------------------------------------------------------------------------------------
 09) MORE
 ----------------------------------------------------------------------------------------------*/
.more { padding: 50px 0 40px; }

.more .more-item {
  position: relative;
  overflow: hidden;
}

.more .wrapper-more-image { padding: 0; }

.more .wrapper-more-text {
  padding: 0;
  height: 100%;
}

.more .more-text { padding: 50px 20px; }
.more .title {
  margin-top: 0;
  font-size: 2em;
}
.more .btn {
  margin: 20px auto;
  width: 80%;
  display: block;
}
.more .btn span {
  margin-right: 10px;
}

.panel-group { margin: 0; }

.more .panel-heading { padding: 0; }
.more .panel-title>a,
.more .panel-title>small,
.more .panel-title>.small,
.more .panel-title>small>a,
.more .panel-title>.small>a {
  position: relative;
  padding: 15px 65px;
  display: block;
  font-size: 115%;
  text-decoration: none;
}
.more .title-number {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  display: inline-block;
  width: 48px;
  font-size: 1.2em;
  line-height: 48px;
  text-align: center;
}
.more .icn-open-collapse {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  display: inline-block;
  width: 48px;
  font-size: 1.6em;
  line-height: 48px;
  text-align: center;
}
.more .panel-title>a .icn-open-collapse:before {
  display: block;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.more .panel-title>a[aria-expanded="true"] .icn-open-collapse:before {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.more .panel-body {
  max-height: 150px;
  overflow: hidden;
}


/*----------------------------------------------------------------------------------------------
 10) CALL TO ACTION - NEWSLETTER
 ----------------------------------------------------------------------------------------------*/
.calltoaction {
  position: relative;
  z-index: 0;
  padding: 50px 0 75px;
  text-align: center;
  background: url(../images/bg_2.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.calltoaction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .3;
}
.calltoaction .bg-section {
  position: absolute;
  margin-top: -50px;
  display: none;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.calltoaction .bg-section img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -2;
  max-height: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.calltoaction .c1 h3 { margin-top: 50px; }

.calltoaction .download-buttons .btn {
  margin: 0 5px 30px;
  width: 80%;
}
.calltoaction span { margin-right: 10px; }

body.btn-rounded .calltoaction .input-newsletter { border-radius: 0 4px 4px 0; }
body.btn-circle .calltoaction .input-newsletter { border-radius: 0 100px 100px 0; }
.calltoaction .input-group-btn:last-child>.btn,
.calltoaction .input-group-btn:last-child>.btn-group { margin-left: 0; }


/*----------------------------------------------------------------------------------------------
 11) BLOG
 ----------------------------------------------------------------------------------------------*/
.blog { padding: 50px 0 70px; }

.blog .wrapper-post { margin: 0 15px; }

.blog .thumb-overlay { position: relative; }
.blog .thumb-overlay .thumb {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.blog .thumb-overlay .thumb:hover { opacity: .8; }
.blog .thumb-overlay .published {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.blog .content { padding: 0 10px; }
.blog .content .title {
  padding: 10px 0;
  margin: 0;
}
.blog .content .title a { text-decoration: none; }
.blog .content .author a {
  font-weight: bold;
  text-decoration: none;
}
.blog .content .description {
  margin: 10px 0;
}

.blog .footer-post {
  margin: 0 -10px;
  height: 41px;
}
.blog .footer-post .comments {
  padding: 11.5px 3px 11.5px 10px;
  font-size: 1em;
  text-decoration: none;
  line-height: 41px;
}
.blog .footer-post .read-more {
  float: right;
  padding: 10px 15px;
}


/*----------------------------------------------------------------------------------------------
 12) TEAM
 ----------------------------------------------------------------------------------------------*/
.team { padding: 50px 0 55px; }
.team .section-header { margin-bottom: 90px; }

.team .c2,
.team .c3,
.team .c4,
.team .c6,
.team .c7,
.team .c8 { margin-top: 130px; }

.team .slick-list {
  padding-top: 3px;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.team .team-wrapper {
  position: relative;
  padding: 70px 10px 5px;
  margin: 85px 15px 0;
  text-align: center;
}

/* Team - Photo ...............................................................................*/
.team .team-photo {
  position: absolute;
  left: 0;
  top: -85px;
  right: 0;
  margin: auto;
  width: 170px;
  height: 170px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.9s ease;
}
.team .team-photo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}
.team .team-wrapper:hover .team-photo:before {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.team .team-photo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  margin: auto;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}
.team .team-wrapper:hover .team-photo:after {
  left: -5px;
  top: -5px;
  width: 174px;
  height: 174px;
}
.team .team-photo img {
  margin: 5px;
  width: 154px;
  height: 154px;
  border-radius: 50%;
}

/* Team - Content .............................................................................*/
.team .team-content .name {
  margin-top: 30px;
  font-size: 1.8em;
}

.team .team-content .description {
  margin-bottom: 20px;
  font-size: 1.15em;
}

/* Team - Social buttons ......................................................................*/
.team .team-media { margin: 0 -11.5px -5px -8.5px; }
.team .team-media .team-social {
  margin: 0 0 0 -3px;
  display: inline-block;
  width: 20%;
  height: 60px;
  font-size: 1.3em;
  line-height: 60px;
  text-align: center;
}


/*----------------------------------------------------------------------------------------------
 13) CONTACT
 ----------------------------------------------------------------------------------------------*/
.contact { padding-top: 50px; }
.contact .section-header { margin-bottom: 120px; }

.contact .container-fluid .c1 { padding: 0; }
.contact .collapse {
  display: block;
  height: 1px !important;
}
.contact .collapse .panel-body { display: none; }
.contact .collapsing .panel-body { padding: 0; }
.contact .collapse.in {
  display: block;
  height: auto !important;
}
.contact .collapse.in .panel-body {
  padding: 0;
  display: block;
}

/* Contact - Map ..............................................................................*/
.contact #contact-accordion-1 { margin-bottom: 20px; }
.contact .map-wrapper {
  position: relative;
  margin: 0;
}
.container-fluid .contact .map-wrapper { margin: 0 -30px; }
.contact #map-canvas {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;
}

/* Contact - Icon Toggle ......................................................................*/
.contact .map-title {
  position: absolute;
  left: 0;
  top: -50px;
  right: 0;
  z-index: 10;
  padding-top: 10px;
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
}
.contact .map-title a { text-decoration: none; }
.contact .map-title span { font-size: 1.4em; }

/* Contact - Vcard over the map ...............................................................*/
.contact .vcard {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin: auto !important;
  width: 80%;
  height: 55%;
  font-size: 1em;
  border-radius: 10px;
  opacity: 0.9;
}
.contact .org { text-align: center; }
.contact .org,
.contact .adr,
.contact .tel { margin-bottom: 10px; }
.contact .street-address,
.contact .tel-1,
.contact .tel-2,
.contact .email-contact,
.contact .email-suport { display: block; }
.contact .street-address:before {
  content: "\f041";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .locality { margin-left: 30px; }
.contact .tel-1:before {
  content: "\f095";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .tel-2 { margin-left: 30px; }
.contact .email-contact:before {
  content: "\f0e0";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .email-support { margin-left: 30px; }

/* Contact - Form .............................................................................*/
.contact .r1 .c2,
.contact .r2 .c2,
.contact .r3 .c2,
.contact .r3 .c3,
.contact .r4 .c2 { margin-top: 15px; }

.contact .alert { margin: 40px 0 -20px; }
.contact .alerts-xs .alert { margin: 0; }

.contact .contact-form { margin-top: 40px; }
.contact legend { display: none; }

.contact .btn {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}
.contact .btn:before {
  content: "\e171";
  position: relative;
  top: 2px;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
}


/*----------------------------------------------------------------------------------------------
 14) SOCIAL BUTTONS
 ----------------------------------------------------------------------------------------------*/
.social-icons { text-align: center; }

.social-icons .btn-social {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}