/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.6
Last change:  21/09/2016
Design by:  TemplatesPRO.com.br
-------------------------------------------------------------------------------------------------

INDEX (line):
01) LINKS AND BUTTONS
02) NAVBAR
03) HEADERS - Sections
04) COPYRIGHT
05) SLICK CAROUSEL
06) SLIDESHOW
07) FEATURES
08) OVERVIEW
09) STATS
10) TESTIMONIALS
11) PRICING
12) MORE
13) BLOG
14) TEAM
15) CONTACT
--- BLOG ---
16) PAGE DETAIL
17) SIDEBAR - MODULE RECENT POSTS
18) SIDEBAR - MODULE ARCHIVES
19) SIDEBAR - MODULE RECENT COMMENTS
20) SIDEBAR - MODULE TAG
21) CONTENT - MODULE CATEGORIES
22) CONTENT - BLOG META
23) CONTENT - BLOG AUTHOR INFO
24) CONTENT - MODULE RELATED POSTS
25) CONTENT - MODULE AUTHOR POSTS
26) CONTENT - MODULE COMMENTS
-----------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------
 01) LINKS AND BUTTONS
 ----------------------------------------------------------------------------------------------*/
a { color: #F99500; }
.btn {
  color: #fff;
  background-color: #F99500;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open>.dropdown-toggle.btn { background-color: #da8c10; }

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus { background-color: #da8c10; }


/*----------------------------------------------------------------------------------------------
 02) NAVBAR
 ----------------------------------------------------------------------------------------------*/
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>.active>a { background-color: #F99500; }

/* Dropdown ...................................................................................*/
.dropdown-menu,
.navbar-nav .open .dropdown-menu { background-color: #F99500; }


/*----------------------------------------------------------------------------------------------
 03) HEADERS - Sections
 ----------------------------------------------------------------------------------------------*/
.section-title {
  border-bottom: 1px solid #F99500;
  color: #F99500;
}
.section-subtitle::after { background-color: #F99500; }


/*----------------------------------------------------------------------------------------------
 04) COPYRIGHT
 ----------------------------------------------------------------------------------------------*/
/* Button Go Top ..............................................................................*/
.go-top:hover { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 05) SLICK CAROUSEL
 ----------------------------------------------------------------------------------------------*/
/* Indicators .................................................................................*/
.slick-dots li.slick-active button:before { color: #F99500; }
.slick-dots li button:before { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 06) SLIDESHOW
 ----------------------------------------------------------------------------------------------*/
.slideshow .brand span { color: #F99500; }

/* Slideshow Content - Buttons ................................................................*/
.slideshow .btn {
  border: 2px solid #F99500;
  background-color: rgba(243,156,18,.15);
}
.slideshow .btn:hover {
  border: 2px solid #F99500;
  background-color: #F99500;
}
.slideshow .slide-form .panel .btn {
  border: 2px solid #F99500;
  background-color: #F99500;
}
.slideshow .slide-form .panel .btn:hover {
  border: 2px solid #da8c10;
  background-color: #da8c10;
}

/* Slideshow - Countdown ......................................................................*/
.slideshow .countdown .count { background-color: #F99500; }

/* Slideshow - Indicators .....................................................................*/
.slideshow .carousel-indicators li:hover { border: 1px solid #F99500; }
.slideshow .carousel-indicators .active {
  border: 1px solid #F99500;
  background-color: #F99500;
}


/*----------------------------------------------------------------------------------------------
 07) FEATURES
 ----------------------------------------------------------------------------------------------*/
/* Section Content - Icons ....................................................................*/
.features .features-icon { color: #F99500; }
.features .features-wrapper:hover .features-icon { background-color: #F99500; }

/* Features Titles ............................................................................*/
.features .features-content .title { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 08) OVERVIEW
 ----------------------------------------------------------------------------------------------*/
/* Overview Titles ............................................................................*/
.overview .title { color: #F99500; }

/* Tab 2 ......................................................................................*/
.overview .overview-icon { color: #F99500; }
.overview .overview-wrapper:hover .overview-icon { background-color: #F99500; }

/* Tab 3 ......................................................................................*/
.overview .progress-bar { background-color: #F99500; }


/*----------------------------------------------------------------------------------------------
 09) STATS
 ----------------------------------------------------------------------------------------------*/
.stats path + path { stroke: #F99500; }
.stats .description span { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 10) TESTIMONIALS
 ----------------------------------------------------------------------------------------------*/
/* Testimonials Navigation and Links ..........................................................*/
.testimonials a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 11) PRICING
 ----------------------------------------------------------------------------------------------*/
/* Price ......................................................................................*/
.pricing .plan-price { background-color: #F99500; }
.pricing .panel:hover .plan-price { background-color: #F99500; }
.pricing .panel-popular .plan-price:before { box-shadow: 0 0 0 2px #F99500; }
.pricing .panel:hover .panel-heading { color: #F99500; }

/* Badge Popular ..............................................................................*/
.pricing .badge-popular { background: url(../../images/pricing/badge_popular_orange.png) no-repeat center center; }


/*----------------------------------------------------------------------------------------------
 12) MORE
 ----------------------------------------------------------------------------------------------*/
.more .title-number { background-color: #F99500; }
.more .title { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 13) BLOG
 ----------------------------------------------------------------------------------------------*/
.blog .thumb-overlay .published { background-color: #F99500; }

.blog .content .title a { color: #F99500; }

.blog .footer-post .read-more { background-color: #F99500; }
.blog .footer-post .read-more:hover { background-color: #da8c10; }


/*----------------------------------------------------------------------------------------------
 14) TEAM
 ----------------------------------------------------------------------------------------------*/
.team .team-content .name { color: #F99500; }
.team .team-media .team-social { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 15) CONTACT
 ----------------------------------------------------------------------------------------------*/
/* Icon .......................................................................................*/
.contact .map-title:hover { background-color: #F99500; }
.contact .map-title a { color: #F99500; }

/* Links ......................................................................................*/
.contact .vcard a { color: #F99500; }


/***********************************************************************************************/
/*--------------------------------------   B L O G   -------------------------------------------/
/***********************************************************************************************/


/*----------------------------------------------------------------------------------------------
 16) PAGE DETAIL
 ----------------------------------------------------------------------------------------------*/
.blog-detail article h1 { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 17) SIDEBAR - MODULE RECENT POSTS
 ----------------------------------------------------------------------------------------------*/
.module-recent-posts a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 18) SIDEBAR - MODULE ARCHIVES
 ----------------------------------------------------------------------------------------------*/
.module-archives a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 19) SIDEBAR - MODULE RECENT COMMENTS
 ----------------------------------------------------------------------------------------------*/
.module-recent-comments a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 20) SIDEBAR - MODULE TAG
 ----------------------------------------------------------------------------------------------*/
.module-tags .tag:hover { background-color: #F99500; }


/*----------------------------------------------------------------------------------------------
 21) CONTENT - MODULE CATEGORIES
 ----------------------------------------------------------------------------------------------*/
/* BLOCK ......................................................................................*/
.module-categories .thumb-overlay .published { background-color: #F99500; }

.module-categories .content .title a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 22) CONTENT - BLOG META
 ----------------------------------------------------------------------------------------------*/
.blog-meta .blog-tags a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 23) CONTENT - BLOG AUTHOR INFO
 ----------------------------------------------------------------------------------------------*/
.blog-author-info .media-heading { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 24) CONTENT - MODULE RELATED POSTS
 ----------------------------------------------------------------------------------------------*/
.module-related-posts .thumb-overlay .published { background-color: #F99500; }

.module-related-posts .content .title a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 25) CONTENT - MODULE AUTHOR POSTS
 ----------------------------------------------------------------------------------------------*/
.module-author-posts .thumb-overlay .published { background-color: #F99500; }

.module-author-posts .content .title a { color: #F99500; }


/*----------------------------------------------------------------------------------------------
 26) CONTENT - MODULE COMMENTS
 ----------------------------------------------------------------------------------------------*/
.module-blog-comments .btn-reply { color: #F99500; }
