/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.6
Last change:  21/09/2016
Design by:  TemplatesPRO.com.br
-------------------------------------------------------------------------------------------------

INDEX:
01) GENERAL
02) FORMS
03) HEADERS - Sections
04) PRELOADER
05) NAVBAR
06) FOOTER
07) COPYRIGHT
08) MODALS
09) SLICK CAROUSEL
10) SLIDESHOW
11) FEATURES
12) OVERVIEW
13) STATS
14) GALLERY
15) TESTIMONIALS
16) CLIENTS
17) PRICING
18) MORE
19) CALL TO ACTION - NEWSLETTER
20) BLOG
21) TEAM
22) CONTACT
23) SOCIAL BUTTONS
--- BLOG ---
24) BLOG GENERAL
25) PAGE CATEGORY
26) PAGE DETAIL
27) PAGE AUTHOR
28) PAGE AUTHOR - BLOG AUTHOR INFO
29) SIDEBAR - MODULE CALENDAR
30) SIDEBAR - MODULE TAG
31) CONTENT - MODULE CATEGORIES
32) CONTENT - BLOG META
33) CONTENT - BLOG AUTHOR INFO
34) CONTENT - MODULE RELATED POSTS
35) CONTENT - MODULE AUTHOR POSTS
36) CONTENT - PAGINATION
37) CONTENT - MODULE COMMENTS
-----------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------
 01) GENERAL
 ----------------------------------------------------------------------------------------------*/
body {
  color: #777;
  background-color: #fff;
}


/*----------------------------------------------------------------------------------------------
 02) FORMS
 ----------------------------------------------------------------------------------------------*/
::-webkit-input-placeholder { color:#888 !important; } /* Chrome, Safari, Opera */
:-moz-placeholder { color:#888 !important; } /* Firefox 18- */
::-moz-placeholder { color:#888 !important; }  /* Firefox 19+ */
:-ms-input-placeholder { color:#888 !important; } /* IE10 + */
::-ms-input-placeholder { color:#888 !important; } /* Edge */
::placeholder { color:#888 !important; } /* CSS Working Draft */
.-placeholder { color: #888; } /* Polyfill IE9 */


/*----------------------------------------------------------------------------------------------
 03) HEADERS - Sections
 ----------------------------------------------------------------------------------------------*/
.section-subtitle { color: #999; }


/*----------------------------------------------------------------------------------------------
 04) PRELOADER
 ----------------------------------------------------------------------------------------------*/
.preloader { background-color: #fff; }
.status {
  color: #333;
  background: url(../../images/loading_light.gif) no-repeat center center;
}


/*----------------------------------------------------------------------------------------------
 05) NAVBAR
 ----------------------------------------------------------------------------------------------*/
.navbar-default { box-shadow: 0 1px 0 0 #ececec; }
.navbar-default,
.navbar-collapse { background-color: #fcfcfc; }
.navbar-default .navbar-nav>li>a { color: #777; }
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>.active>a { color: #fff; }
.navbar-nav { box-shadow: 0 1px 0 0 #ececec; }

/* Dropdown ...................................................................................*/
.dropdown-menu>li>a { color: #fff; }
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #fff;
  background-color: rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  .navbar-nav>li.li-more>ul.dropdown-menu>li>ul.dropdown-menu { box-shadow: inset -1px 0 0 0 rgba(0,0,0,.1); }
}

/* Toggle .....................................................................................*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #f2f2f2; }
.navbar-default .navbar-toggle .icon-bar { background-color: #777; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { box-shadow: 0 -1px 0 0 #ececec; }

@media (min-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form { box-shadow: none; }
}


/*----------------------------------------------------------------------------------------------
 06) FOOTER
 ----------------------------------------------------------------------------------------------*/
.footer-logo {
  border: 5px solid #fff;
  color: #777;
  background-color: #fff;
  box-shadow:  0 0 0 7px #fff;
}
.footer-logo:before { box-shadow: 0 0 0 1px rgba(0,0,0,.15); }
.footer-logo:after { box-shadow: 0 0 0 4px rgba(0,0,0,.15); }


/*----------------------------------------------------------------------------------------------
 07) COPYRIGHT
 ----------------------------------------------------------------------------------------------*/
.copyright {
  color: #777;
  background-color: #eee;
  box-shadow: inset 0 -41px 0 0 rgba(0,0,0,.12);
}

.copyright a { color: #555; }

/* Button Go Top ..............................................................................*/
.go-top {
  color: #fff;
  background-color: rgba(0,0,0,.2);
  -webkit-transition: background .3s ease-in-out, color .2s ease-in-out;
     -moz-transition: background .3s ease-in-out, color .2s ease-in-out;
      -ms-transition: background .3s ease-in-out, color .2s ease-in-out;
       -o-transition: background .3s ease-in-out, color .2s ease-in-out;
          transition: background .3s ease-in-out, color .2s ease-in-out;
}
.go-top:hover { background-color: rgba(0,0,0,.3); }


/*----------------------------------------------------------------------------------------------
 08) MODALS
 ----------------------------------------------------------------------------------------------*/
.modal-content { background-color: #f5f5f5; }
.modal-header, .modal-footer {
  color: #777;
  background-color: #ddd;
}
.modal-header { border-bottom: 1px solid #d7d7d7; }
.modal-footer { border-top: 1px solid #d7d7d7; }

.modal .close { color: #888; }

.modal .embed-responsive:before { color: #777; }


/*----------------------------------------------------------------------------------------------
 09) SLICK CAROUSEL
 ----------------------------------------------------------------------------------------------*/
.slick-loading .slick-list { background: #fff; }

/* Navigation .................................................................................*/
.slick-prev:before,
.slick-next:before { color: #bbb; }

/* Indicators .................................................................................*/
.slick-dots li.slick-active button:before { color: #bbb; }
.slick-dots li button:before { color: #bbb; }


/*----------------------------------------------------------------------------------------------
 10) SLIDESHOW
 ----------------------------------------------------------------------------------------------*/
.slideshow { background-color: #000; }

.slideshow .item:after { background-color: #000; }

/* Slide Form .................................................................................*/
.slideshow .slide-form .panel .btn { box-shadow: 0 0 0 7px rgba(0,0,0,.1); }

.slideshow .panel-subscription {
  background-color: rgba(255,255,255,.7);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.slideshow .panel-subscription .panel-heading {
  color: #777;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,.85);
}
.slideshow .panel-subscription .panel-footer { background-color: transparent; }

.slideshow .form-control {
  border: 1px solid #ccc;
  box-shadow: none;
}

.slideshow .slide-form .panel .btn { box-shadow: 0 0 0 7px rgba(255,255,255,.4); }

/* Slide Video ................................................................................*/
.slideshow .embed-responsive {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.slideshow .embed-responsive:before { color: #777; }

/* Indicators .................................................................................*/
.slideshow .carousel-indicators li,
.slideshow .carousel-indicators .active { border: 1px solid #fff; }


/*----------------------------------------------------------------------------------------------
 11) FEATURES
 ----------------------------------------------------------------------------------------------*/
/* Icons ......................................................................................*/
.features .features-icon {
  background-color: #f9f9f9;
  box-shadow: 0 0 0 1px #aaa;
}
.features .features-wrapper:hover .features-icon {
  color: #fff;
  box-shadow: 0 0 0 1px #888;
}
.features .features-icon:after { box-shadow: 0 0 0 4px #aaa; }


/*----------------------------------------------------------------------------------------------
 12) OVERVIEW
 ----------------------------------------------------------------------------------------------*/
.overview {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f5f5f5;
}

/* Tabs .......................................................................................*/
.overview .nav-tabs>li>a { color: #777; }
.overview .nav-tabs>li>a:hover,
.overview .nav-tabs>li>a:focus {
  border-color: transparent transparent transparent;
  background-color: #eee;
}
.overview .nav-tabs>li.active>a,
.overview .nav-tabs>li.active>a:hover,
.overview .nav-tabs>li.active>a:focus {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #777;
  background-color: #ddd;
}
.overview .nav-tabs.nav-justified>.active>a,
.overview .nav-tabs.nav-justified>.active>a:hover,
.overview .nav-tabs.nav-justified>.active>a:focus { border: 1px solid #ddd; }

@media (min-width: 768px) {
  .overview .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    color: #777;
  }
}

/* Subtitles ..................................................................................*/
.overview .subtitle { color: #bbb; }

/* Icons ......................................................................................*/
.overview .overview-icon { box-shadow: 0 0 0 1px #aaa; }
.overview .overview-wrapper:hover .overview-icon {
  color: #fff;
  box-shadow: 0 0 0 1px #888;
}
.overview .overview-icon:after { box-shadow: 0 0 0 4px #aaa; }

/* Progress Bars ..............................................................................*/
.progress { background-color: #ddd; }


/*----------------------------------------------------------------------------------------------
 13) STATS
 ----------------------------------------------------------------------------------------------*/
.stats:before { background-color: #000; }

.stats path { stroke: #fff; }

.stats .circle .circles-text,
.stats .description { color: #fff; }
.stats .circle .circles-text { box-shadow: 0 0 0 9px rgba(255,255,255,.1); }


/*----------------------------------------------------------------------------------------------
 14) GALLERY
 ----------------------------------------------------------------------------------------------*/
/* Thumbnail ..................................................................................*/
.gallery .link-modal { background-color: #000; }
.gallery .link-modal:hover:before {
  background-color: #333;
  background-color: rgba(0,0,0,.3);
}
.gallery .link-modal:after { color: #fff; }

/* Modal ......................................................................................*/
.gallery .blueimp-gallery { background: rgba(0,0,0,.8); }


/*----------------------------------------------------------------------------------------------
 15) TESTIMONIALS
 ----------------------------------------------------------------------------------------------*/
.testimonials {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f5f5f5;
}

.testimonials .carousel.fade blockquote {
  color: #777;
  background-color: rgba(0,0,0,.06);
}
.testimonials .carousel.fade blockquote:before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid rgba(0,0,0,.06);
}
.testimonials .carousel.fade blockquote footer { color: #999; }

/* Photo ......................................................................................*/
.testimonials .testimonials-photo { box-shadow: 0 0 0 2px #aaa; }
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo { box-shadow: 0 0 0 1px #f5f5f5; }
.testimonials .testimonials-photo:before { box-shadow: 0 0 0 4px #aaa; }
.testimonials .testimonials-photo:after { background-color: rgba(255,255,255,.15); }
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo:after { background-color: transparent; }


/*----------------------------------------------------------------------------------------------
 16) CLIENTS
 ----------------------------------------------------------------------------------------------*/
.clients:before { background-color: #000; }


/*----------------------------------------------------------------------------------------------
 17) PRICING
 ----------------------------------------------------------------------------------------------*/
.pricing .panel { background-color: #f5f5f5; }
.pricing .panel-default>.panel-heading,
.pricing .panel-footer {
  color: #777;
  background-color: #ddd;
}

/* Popular Attached ...........................................................................*/
.pricing.attached .panel-popular { box-shadow: 0 0 10px 0 rgba(0,0,0,.3); }

/* Price ......................................................................................*/
.pricing .plan-price { box-shadow: 0 0 0 2px #f5f5f5; }
.pricing .panel:hover .plan-price {
  color: #fff;
  box-shadow: 0 0 0 1px transparent;
}
.pricing .plan-price:after { box-shadow: 0 0 0 4px #a5a5a5; }
.pricing .price { color: #fff; }
.pricing .per-month { color: #fff; }

/* Features ...................................................................................*/
.pricing .plan-features li {
  border-bottom: 1px solid #ddd;
  color: #777;
}


/*----------------------------------------------------------------------------------------------
 18) MORE
 ----------------------------------------------------------------------------------------------*/
.more {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f5f5f5;
}

.more .panel { background-color: rgba(0,0,0,.03); }
.more .panel-default>.panel-heading {
  background-color: rgba(0,0,0,.05);
  color: #777;
}
.more .title-number { color: #fff; }
.more .icn-open-collapse {
  color: #aaa;
  background-color: rgba(0,0,0,.05);
}

.more .wrapper-more-image { background-color: #eee; }


/*----------------------------------------------------------------------------------------------
 19) CALL TO ACTION - NEWSLETTER
 ----------------------------------------------------------------------------------------------*/
.calltoaction:before { background-color: #000; }

.calltoaction .c1 h3 { color: #ddd; }

.calltoaction .download-buttons .btn,
.calltoaction .input-newsletter { box-shadow: 0 0 0 7px rgba(255,255,255,.1); }


/*----------------------------------------------------------------------------------------------
 20) BLOG
 ----------------------------------------------------------------------------------------------*/
.blog .wrapper-post { background-color: #f5f5f5; }

.blog .thumb-overlay { background-color: #fff; }
.blog .thumb-overlay .published {
  color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.blog .content .author a { color: #999; }

.blog .footer-post { background-color: rgba(0,0,0,.05); }
.blog .footer-post .comments { color: #777; }
.blog .footer-post .comments:hover { color: #999; }
.blog .footer-post .read-more { color: #fff; }


/*----------------------------------------------------------------------------------------------
 21) TEAM
 ----------------------------------------------------------------------------------------------*/
.team {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f5f5f5;
}

.team .team-wrapper { background-color: rgba(0,0,0,.05); }

/* Photo ......................................................................................*/
.team .team-photo {
  border: 3px solid #f5f5f5;
  box-shadow: inset 0 0 0 2px #c7c7c7;
  background-color: #f5f5f5;
}
.team .team-wrapper:hover .team-photo { box-shadow: 0 0 0 1px #f5f5f5; }
.team .team-photo:before { box-shadow: 0 0 0 4px #bbb; }
.team .team-photo:after {
  background-color: rgba(255,255,255,.15);
  box-shadow: 0 0 0 0 transparent;
}
.team .team-wrapper:hover .team-photo:after {
  background-color: transparent;
  box-shadow: 0 0 0 3px #f5f5f5;
}

/* Content ....................................................................................*/
.team .team-content .function { color: #888; }

.team .team-content .description { color: #777; }

/* Social buttons .............................................................................*/
.team .team-media .team-social {
  color: #777;
  background-color: rgba(0,0,0,.05);
}
.team .team-media .team-social:hover {
  color: #aaa;
  background-color: transparent;
}

/* Tooltips ...................................................................................*/
.team .team-media .team-social + .tooltip .tooltip-arrow { border-bottom-color: rgba(0,0,0,.07); }
.team .team-media .team-social + .tooltip .tooltip-inner {
  color: #777;
  background-color: rgba(0,0,0,.07);
}


/*----------------------------------------------------------------------------------------------
 22) CONTACT
 ----------------------------------------------------------------------------------------------*/
.contact .collapse { background-color: #fff; }
.contact .collapse.in { background-color: #fff; }

/* Icon Toggle  ...............................................................................*/
.contact .map-title {
  border: 3px solid #fff;
  box-shadow: inset 0 0 0 1px #999;
  background-color: #fff;
}
.contact .map-title:hover { box-shadow: 0 0 0 1px #fff; }
.contact .map-title:hover a { color: #fff; }

/* Vcard over the map .........................................................................*/
.contact .vcard {
  border: 1px solid #ddd;
  color: #777;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  background-color: #fff;
}
.contact .vcard .close { color: #fff; }

/* Form .......................................................................................*/
.contact .form-control {
  border: 1px solid #ddd;
  color: #777;
  background-color: #fcfcfc;
}
.contact .form-control:focus {
  border: 1px solid #ddd;
  background-color: #fff;
}


/*----------------------------------------------------------------------------------------------
 23) SOCIAL BUTTONS
 ----------------------------------------------------------------------------------------------*/
.social-icons .btn-social {
  color: #fff;
  background-color: rgba(0,0,0,.12);
}
.social-icons .facebook:hover { background-color: #3b5998; }
.social-icons .twitter:hover { background-color: #2daddc; }
.social-icons .google-plus:hover { background-color: #d14836; }
.social-icons .youtube:hover { background-color: #e52d27; }
.social-icons .instagram:hover { background-color: #3b6994; }
.social-icons .pinterest:hover { background-color: #bd081c; }
.social-icons .email:hover {
  color: #fff;
  background-color: #ddd;
}
.social-icons .rss:hover { background-color: #f90; }

/* Tooltips ...................................................................................*/
.social-icons .btn-social + .tooltip .tooltip-arrow { border-top-color: rgba(0,0,0,.2); }
.social-icons .btn-social + .tooltip .tooltip-inner { background-color: rgba(0,0,0,.2); }


/***********************************************************************************************/
/*--------------------------------------   B L O G   -------------------------------------------/
/***********************************************************************************************/


/*----------------------------------------------------------------------------------------------
 24) BLOG GENERAL
 ----------------------------------------------------------------------------------------------*/
/* MODULES ....................................................................................*/
.module-title {
  border-bottom: 1px solid #ddd;
  color: #777;
}

.module .nav-pills>li>a { color: #777; }
.module .nav>li>a:hover,
.module .nav>li>a:focus,
.module .nav-pills>li.active>a,
.module .nav-pills>li.active>a:hover,
.module .nav-pills>li.active>a:focus,
.module .nav-pills>li>a[aria-expanded="false"]:hover,
.module .nav-pills>li>a[aria-expanded="true"] {
  color: #777;
  background-color: #f5f5f5;
}
.module .nav-pills>li>a[aria-expanded="false"] { background-color: transparent; }

.module .list-unstyled.collapse>li>span,
.module .list-unstyled.collapsing>li>span{ color: #bbb; }

/* FORMS ......................................................................................*/
.body-blog .form-control {
  border: 1px solid #ddd;
  color: #777;
  background-color: #fcfcfc;
}
.body-blog .form-control:focus {
  border: 1px solid #ddd;
  background-color: #fff;
}


/*----------------------------------------------------------------------------------------------
 25) PAGE CATEGORY
 ----------------------------------------------------------------------------------------------*/
.blog-category .main { background-color: #f5f5f5; }


/*----------------------------------------------------------------------------------------------
 26) PAGE DETAIL
 ----------------------------------------------------------------------------------------------*/
.blog-detail .main { background-color: #f5f5f5; }

.blog-detail article h2 { color: #bbb; }


/*----------------------------------------------------------------------------------------------
 27) PAGE AUTHOR
 ----------------------------------------------------------------------------------------------*/
.blog-author .main { background-color: #f5f5f5; }


/*----------------------------------------------------------------------------------------------
 28) PAGE AUTHOR - BLOG AUTHOR INFO
 ----------------------------------------------------------------------------------------------*/
.blog-author .blog-author-info { background-color: transparent; }


/*----------------------------------------------------------------------------------------------
 29) SIDEBAR - MODULE CALENDAR
 ----------------------------------------------------------------------------------------------*/
.module-calendar caption { color: #bbb; }

.module-calendar table a:not(.btn),
.module-calendar .table a:not(.btn) { color: #777; }

.module-calendar .table>caption+thead>tr:first-child>th,
.module-calendar .table>colgroup+thead>tr:first-child>th,
.module-calendar .table>thead:first-child>tr:first-child>th,
.module-calendar .table>caption+thead>tr:first-child>td,
.module-calendar .table>colgroup+thead>tr:first-child>td,
.module-calendar .table>thead:first-child>tr:first-child>td { border-top: 1px solid #ddd; }

.module-calendar .table>caption+thead>tr:first-child>th,
.module-calendar .table>colgroup+thead>tr:first-child>th,
.module-calendar .table>thead:first-child>tr:first-child>th,
.module-calendar .table>caption+thead>tr:first-child>td,
.module-calendar .table>colgroup+thead>tr:first-child>td,
.module-calendar .table>thead:first-child>tr:first-child>td { background-color: #f5f5f5; }

.module-calendar table>thead>tr>th,
.module-calendar .table>thead>tr>th,
.module-calendar table>tbody>tr>th,
.module-calendar .table>tbody>tr>th,
.module-calendar table>tfoot>tr>th,
.module-calendar .table>tfoot>tr>th,
.module-calendar table>thead>tr>td,
.module-calendar .table>thead>tr>td,
.module-calendar table>tbody>tr>td,
.module-calendar .table>tbody>tr>td,
.module-calendar table>tfoot>tr>td,
.module-calendar .table>tfoot>tr>td { border: 1px solid #ddd; }

.module-calendar .table>thead>tr>td.active,
.module-calendar .table>tbody>tr>td.active,
.module-calendar .table>tfoot>tr>td.active,
.module-calendar .table>thead>tr>th.active,
.module-calendar .table>tbody>tr>th.active,
.module-calendar .table>tfoot>tr>th.active,
.module-calendar .table>thead>tr.active>td,
.module-calendar .table>tbody>tr.active>td,
.module-calendar .table>tfoot>tr.active>td,
.module-calendar .table>thead>tr.active>th,
.module-calendar .table>tbody>tr.active>th,
.module-calendar .table>tfoot>tr.active>th { background-color: #f5f5f5; }


/*----------------------------------------------------------------------------------------------
 30) SIDEBAR - MODULE TAG
 ----------------------------------------------------------------------------------------------*/
.module-tags .tag {
  color: #777;
  background-color: #f5f5f5;
}
.module-tags .tag:hover { color: #fff; }


/*----------------------------------------------------------------------------------------------
 31) CONTENT - MODULE CATEGORIES
 ----------------------------------------------------------------------------------------------*/
/* TABS LIST/GRID .............................................................................*/
.module-categories .nav-tabs>li>a { color: #777; }
.module-categories .nav-tabs>li.active>a,
.module-categories .nav-tabs>li.active>a:hover,
.module-categories .nav-tabs>li.active>a:focus {
  color: #777;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.module-categories .nav-tabs>li>a:hover,
.module-categories .nav-tabs>li>a:focus {
  border-color: transparent transparent transparent;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

/* BLOCK ......................................................................................*/
.module-categories .thumb-overlay .published {
  color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


/*----------------------------------------------------------------------------------------------
 32) CONTENT - BLOG META
 ----------------------------------------------------------------------------------------------*/
.blog-meta { background-color: #eee; }

.blog-meta .sep { color: rgba(255,255,255,.5); }


/*----------------------------------------------------------------------------------------------
 33) CONTENT - BLOG AUTHOR INFO
 ----------------------------------------------------------------------------------------------*/
.blog-author-info { background-color: #eee; }


/*----------------------------------------------------------------------------------------------
 34) CONTENT - MODULE RELATED POSTS
 ----------------------------------------------------------------------------------------------*/
/* TABS LIST/GRID .............................................................................*/
.module-author-posts .nav-tabs>li>a { color: #777; }
.module-author-posts .nav-tabs>li.active>a,
.module-author-posts .nav-tabs>li.active>a:hover,
.module-author-posts .nav-tabs>li.active>a:focus {
  color: #777;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.module-author-posts .nav-tabs>li>a:hover,
.module-author-posts .nav-tabs>li>a:focus {
  border-color: transparent transparent transparent;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

/* BLOCK ......................................................................................*/
.module-related-posts .thumb-overlay .published {
  color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


/*----------------------------------------------------------------------------------------------
 35) CONTENT - MODULE AUTHOR POSTS
 ----------------------------------------------------------------------------------------------*/
.module-author-posts .thumb-overlay .published {
  color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


/*----------------------------------------------------------------------------------------------
 36) CONTENT - PAGINATION
 ----------------------------------------------------------------------------------------------*/
.wrapper-pagination { background-color: #eee; }

.pagination>li>a,
.pagination>li>span {
  color: #777;
  background-color: transparent;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
  color: #777;
  background-color: #ddd;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
  color: #999;
  background-color: transparent;
}


/*----------------------------------------------------------------------------------------------
 37) CONTENT - MODULE COMMENTS
 ----------------------------------------------------------------------------------------------*/
.module-blog-comments .media-heading small { color: #bbb; }
