/*-----------------------------------------------------------------------------------*/
/*  CSS Reset & Clear
/*-----------------------------------------------------------------------------------*/

html, body, div, span, figure, h1, h2, h3, h4, p, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, details, figure, figcaption, footer, header, hgroup, nav, section, img { margin: 0; padding: 0; border: 0; vertical-align: baseline; font: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: "."; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.none { display: none; }

body {
  line-height: 1;
}
ol, ul, dl {
  margin: 0;
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}
a {
  text-decoration: none;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a:hover, a:active, a:focus {
  color: #d9534f;
  outline: none;
}
strong {
  font-weight: bold;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="text"]:focus,
input[type="submit"]:focus {
   outline: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.syntaxhighlighter {
  border: 1px solid #efefef;
  padding: 20px 0;
  background-color: #f8f9f9 !important;
  max-height:100% !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/*-----------------------------------------------------------------------------------*/
/*  Document Setup
/*-----------------------------------------------------------------------------------*/

html {
  overflow: hidden;
}

html, body {
  height: 100%;
  background: none;
}

body {
  background: #f8f9f9;
  color: #414141;
  font: 12px/16px 'Open Sans',sans-serif;
}

/*-----------------------------------------------------------------------------------*/
/*  Top Header Menu
/*-----------------------------------------------------------------------------------*/

#navmenu-primary {
  position: relative;
  z-index: 2;
  margin-bottom: 34px;
  min-width: 990px;
  height: 80px;
  border-bottom: 1px solid #343738;
  background: #4e5d6c;
  line-height: 80px;
}

#navmenu-primary .navmenu-primary-content {
  position: relative;
  display: block;
  height: 80px;
}

#navmenu-primary .navmenu-left, #navmenu-primary .navmenu-right {
  position: absolute;
  top: 0;
  height: 80px;
}

#navmenu-primary .navmenu-left {
  left: 20px;
}

#navmenu-primary .navmenu-right {
  right: 20px;
}

.grid-full {
  width: 100%;
}

#navmenu-primary .navmenu-left .nav-item.first {
  border-left: none;
}

#navmenu-primary .nav-large .nav-item {
  position: static;
}

.divider {
  position: relative;
  top: -60px;
  left: 0px;
  display: block;
  float: right;
  width: 1px;
  height: 60px;
  background: #FFF;
  opacity: 0.1;
}

.divider-all {
  position: relative;
  top: -60px;
  left: 0px;
  display: block;
  float: right;
  width: 100%;
  height: 60px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  opacity: 0.1;
  z-index: -1;
}

.divider-right {
  position: relative;
  top: -60px;
  left: 0px;
  display: block;
  float: right;
  width: 100%;
  height: 60px;
  border-right: 1px solid #fff;
  opacity: 0.1;
  z-index: -1;
}

.divider.first {
  top: -12px;
  left: 20px;
}

#navmenu-primary .nav-item {
  position: relative;
  display: block;
  float: left;
  height: 80px;
}

#navmenu-primary .nav-item {
  position: relative;
  display: block;
  float: left;
  height: 80px;
}

#navmenu-primary .nav-item.no-b {
  border-left: none;
}

#navmenu-primary .nav-item .nav-link {
  position: relative;
  display: block;
  color: #FFF;
  text-transform: uppercase;
}

/* .nav-item, .nav-link, .nav-text {
  -moz-user-select: none; */

/* -webkit-user-select: none; */

#navmenu-primary .nav-sprite-logo {
    margin: 0 auto;
}

#navmenu-primary .nav-item-logo .nav-text {
  position: relative;
  top: -12px;
}

.nav-sprite-logo {
  background: none repeat scroll 0 0 transparent;
  color: #FFFFFF;
  display: block;
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  height: auto;
  text-transform: uppercase;
  width: 260px;
}
.nav-sprite-logo span { color: #d9534f; }
.nav-sprite-logo:hover { color: #FFFFFF; }

/*-----------------------------------------------------------------------------------*/
/*  Top Header Menu - Ask Question Btn
/*-----------------------------------------------------------------------------------*/

#navmenu-primary .nav-btn-question {
  position: relative;
  display: inline-block;
  padding: 9px;
  white-space: nowrap;
  line-height: 28px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: #FFF;
}

#navmenu-primary .nav-btn-question:hover {
  color:#d9534f;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site
/*-----------------------------------------------------------------------------------*/

#site-container {
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding: 101px 0 20px 0;
  width: 100%;
  height: 100%;
}

#site-columns {
  position: relative;
  margin: 0 20px;
  width: auto;
  height: 100%;
}

#site-left-column {
  position: absolute;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width: 100%;
  height: 100%;
  background: #FFF;
}

#primary-content {
  min-height: 0!important;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Left Panel & Right Panel
/*-----------------------------------------------------------------------------------*/

#right-panel {
  padding-left: 250px;
  width: 100%;
}

#left-panel {
  left: 0;
  width: 250px;
}

#left-panel .panel-content {
  background: #4e5d6c;
}

.collapsed #right-panel {
    padding-left: 65px;
}

.collapsed #left-panel {
  width: 65px;
}

.panel {
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  height: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.panel-content {
  width: 100% !important;
}

.panel-content.be-viewport {
  overflow-x: hidden;
  overflow-y: auto;
}

.panel-content {
    position: relative;
    z-index: 1;
  overflow: hidden;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
    height: 100%;
  background: #FFFFFF;
}

#slide-toggle {
  position: relative;
  top: 50%;
  left: -7px;
  z-index: 2;
  display: block;
  margin-top: -20px;
  width: 20px;
  height: 40px;
  background: url(../img/slide-toggle.png) no-repeat;
  text-indent: -99999px;
  cursor: pointer;
}

.arrow-slide-left {
  position: absolute;
  top: 17px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: url(../img/arrow-slide.png) no-repeat;
}

.arrow-slide-right {
  position: absolute;
  top: 17px;
  left: 5px;
  width: 6px;
  height: 6px;
  background: url(../img/arrow-slide.png) 0 -6px no-repeat;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Left Panel Menu
/*-----------------------------------------------------------------------------------*/

#menu ul li {
  list-style: none;
}

.menu-label {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width: 380px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  -webkit-backface-visibility: hidden;
}

.menu-label.no-border {
  border-top: none;
}

.menu-label.no-border.active {
  background: #FFF;
}

.section-menu-title {
  display: block;
  padding-left: 20px;
  color: #A2ADB2;
  letter-spacing: 0.03em;
  font-weight: 300;
  font-size: 16px;
  line-height: 51px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.item-action-icon {
  position: relative;
  display: block;
  opacity: 0.65;
  font-size: 14px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-label:hover .section-menu-title,
.menu-label:hover .item-action-icon  {
  color: #FFFFFF;
}

.menu-label.active .section-menu-title,
.menu-label.active .item-action-icon {
  color: #303030;
}

.menu-label:hover .circle-icon,
.menu-label.active .circle-icon {
  color: #fff;
  text-shadow: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #20a0dd;
  opacity:0.7;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Content Left Menu
/*-----------------------------------------------------------------------------------*/

.panel-container {
  display: none;
  border-bottom: 1px solid #D5D5D5;
}

#left-panel .mCSB_container,
nav#menu {
  height: 100%;
}
#left-panel .menu-down {
    position: absolute;
    bottom: 0;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Panel Header Right Side
/*-----------------------------------------------------------------------------------*/

.panel-header .button-light {
  margin-top: 12px;
  margin-right: 3px;
}

.button-light.icon-refresh {
  text-indent: -99999px;
  min-width: 10px;
}

.button-light.icon-settings {
  text-indent: -99999px;
  min-width: 20px;
}

.icon-refresh:after {
  content: "";
  background-image: url(../img/refresh.png);
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
}

.icon-settings:after {
  content: "";
  background-image: url(../img/settings.png);
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
}

.fix-panel {
  top: -20px;
}

.box-master {
  padding: 50px 20px 20px;
}

.box-list-posts {
  position: relative;
}

.box-post {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 20px;
  position: relative;
}

.box-post-content {
  margin: 0;
  position: relative;
  z-index: 1;
}

.prof-user-badge {
  float: left;
  margin: 0 0 0 -68px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid #D7D7D7;
}

.box-post-header {
  text-align: center;
  padding: 0 20px;
}

.box-post-header h3.c-name {
  color: #414141;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: - 0.04em;
}

.box-post-header h4.credits {
  color: #A9A9A9;
  font-size: 14px;
  font-weight: 400;
    margin: 5px 0 0;
}

.box-post-header h4.credits a {
  color: #414141;
}

.box-post-header h4.credits a:hover {
  color: #d9534f;
}

.box-post-header span.c-details {
  color: #A5A5A5;
  font-size: 11px;
  font-weight: normal;
}

.box-post-container {
  padding: 0px 20px 0 20px;
}

.box-post-container h3.c-title {
  color: #d9534f;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  padding-top: 40px;
  border-top: 1px solid #EEEEEE;
}

.box-post-container .c-text {
  color: #414141;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.box-post-container .c-text ul {
  list-style: square!important;
  margin-left: 20px;
}

.box-post-container .c-text ul li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.box-post-container .c-text ul li ul {
  margin: 8px 0 0 16px;
}

.box-post-container .c-text ul li a {
  font-weight: bold;
  color: #20a0dd;
}

.box-post-container .c-text ul li a:hover {
  color: #333;
}

.box-post-container .c-text p {
  margin-bottom: 10px;
}

.box-post-container .c-text p.last {
  margin-bottom: 0px;
}

.box-post-container .c-text p strong {
  color: #333;
  font-weight: 600;
}

.box-post-container .c-text a {
  font-weight: bold;
  color: #333;
}

.box-post-container .c-text a:hover {
  font-weight: bold;
  color: #d9534f;
}

.alert {
  padding: 15px;
  margin: 40px 0 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert h3 {
  padding: 0 0 15px;
  font-size: 2em;
  font-weight: bold;
}
.alert p {
  margin: 10px 0;
  font-size: 1.2em;
}
.alert hr {
  margin: 25px 0 20px;
  border-top: 1px solid rgba(138, 109, 59, 0.3);
  border-bottom: none;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
    position: absolute;
    bottom: -53px;
    left: -22px;
    z-index: 2;
    width: 120%;
    height: 32px;
    background: none repeat scroll 0 0 #242424;
}
