
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title text-center" id="title-modal-slide-video">Video Demo</h4>
</div>
<div class="modal-body">
  <!-- 4:3 aspect ratio -->
  <div class="embed-responsive embed-responsive-4by3">
    <!--<iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/ct7E31Pcbso?controls=0&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;iv_load_policy=3" allowfullscreen></iframe>-->
  </div>
</div>