<div class="dropdown-menu dropdown-menu-scale text-color" role="menu">
  	<a class="dropdown-item" href>User Settings</a>
  	<a class="dropdown-item" href>Dealer Profile</a>
  	<a class="dropdown-item" href>New Addendum Settings</a>
  	<a class="dropdown-item" href>Used Addendum Settings</a>
  	<a class="dropdown-item" href>Standard Infosheet Settings</a>
  	<a class="dropdown-item" href>Certified Infosheet Settings</a>
  	<a class="dropdown-item" href>Buyers Guide Settings</a>
  	<div class="dropdown-divider"></div>
  	<a class="dropdown-item" href>Order Labels</a>
  	<div class="dropdown-divider"></div>
  	<a class="dropdown-item" href>Help Video</a>
  	<div class="dropdown-divider"></div>
  	<a class="dropdown-item" href>Logout</a>
</div>
