.dealer-addendums__button__loader-img {
    width: 20px;
    max-width: 100%;
}

.default .dealer-addendums__button__download-button {
  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  line-height: normal;
  background: #007cc3;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.3);
    border-top-color: rgba(0, 0, 0, 0.3);
    border-right-color: rgba(0, 0, 0, 0.3);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-left-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.default .dealer-addendums__button__download-button:hover {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  background: #787778;
  text-decoration: none;
}
